<div class="col-md-6 offset-3">
  <%= form_for([:admin, @category]) do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name, class: 'form-control' %>
    <div class="line">
    </div>
    <%= f.submit "Create new Category", class: "btn btn-primary mb-5 mt-2" %>
  <% end %>
</div>
