<div class="align-item-center">
  <div class="card ml-2 mr-2 " style="width: 22rem;">
    <div class="card ml-2 mr-2 " style="width: 22rem;">
        <div class="Cat1">
          Thương hiệu
          <div>
          Thương hiệu đa dạng, thoả sức lựa chọn
          </div>
        </div>
		  </div>
    </div>
  </div>
</div>
