<div class="align-item-center">
	<div class="card ml-2 mr-2" style="width: 22rem;">
	  <%= image_tag "BG.jpeg" %>
	  <div class="card-body ">
	    <h2 class="card-title text-center"><%= product.name %></h2>
	    <h4 class="card-title"><%= number_to_currency(product.price) %> VNĐ</h4>
	    <h5 class="card-text"><%= product.details %></h5>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
</div>